html
  head
  body
    img(src=headerImg , alt='Banner Image')
    p Hello #{userInfo.firstname},
    p
      | Your order with Id #{borrow.id} has been confirmed. You can find details of your order below.
    p
      | Book Title: 
      b  #{book.title} 
    p
      | Author: 
      b  #{book.author} 
    p
      | ISBN: 
      b  #{book.isbn} 
    p
      | Due Date: 
      b  #{borrow.dueDate} 
    p
      | Order Id: 
      i  #{borrow.id}
    
      img(src=footerImg, alt='Footer Image')
